<mat-card>
  <mat-card-header fxLayoutAlign="space-between center">
    <mat-card-title>Cadastrar nova área</mat-card-title>
    <button
      mat-icon-button
      (click)="cancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content fxLayout="column" >
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <mat-icon matPrefix>home</mat-icon>
      <input
        #name="ngModel"
        matInput [(ngModel)]="input_name"
        placeholder="Nome da área"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Url imagem</mat-label>
      <mat-icon matPrefix>photography</mat-icon>
      <input
        #urlImage="ngModel"
        matInput
        matInput [(ngModel)]="input_image"
        placeholder="Nome da área"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <mat-icon fxLayoutAlign="start start" matPrefix>description</mat-icon>
      <textarea
        #description="ngModel"
        matInput
        [(ngModel)]="input_description"
        placeholder="Insira a descrição"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end">
    <button
      [disabled] = "name.invalid || urlImage.invalid || description.invalid"
      mat-raised-button
      color="primary"
      (click)="createArea()"
    >Cadastrar</button>
  </mat-card-actions>
</mat-card>
