<app-menu></app-menu>
<div class="main">
  <div id="content" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <mat-card class="card" *ngFor="let area of areas">
      <mat-card-header>
        <mat-card-title>{{area.name}}</mat-card-title>
      </mat-card-header>
      <img
        class="card-image"
        mat-card-image
        src="{{area.image}}"
        alt="{{area.name}}">

      <mat-card-content class="description">
        <p>{{area.description}}</p>
      </mat-card-content>

      <mat-card-actions class="footer" fxLayoutAlign="space-around">
        <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
        <button mat-mini-fab><mat-icon>menu</mat-icon></button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
